.aptCard{
    display: flex;
    &__image{
        width: 0px;
        flex-grow: 1;
border-radius: 100%;
    }
    &__listItem{
        flex-grow: 6;
    }
    &__listItembody{
        display: flex;
        justify-content: space-between;
    }
}