.nav {
  &__container {

    display: flex;
    justify-content: space-between;
    border-bottom: lightgray 2px solid;
  }
  &__logo {
    align-self: center;
    margin: 10px;
    width: 150px;
    height: auto;

  }
  &__filter {
      
        width: 40%;
        height: 20%;
        margin: 1%;
        margin-top: 20px;
        padding: 7px 0;
        border: none;
        border-bottom: 1px lightgray  solid;
        outline: none;
        font-family: 'Raleway', sans-serif;

        &:focus {
          border-bottom: 2px rgb(203, 0, 0) solid;
        }
  }
  &__plus {
    float: right;
    margin: 20px;
    margin-right: -20vw;
    font-size: 35px;
    color: grey;
    &:hover {
        color: rgb(203, 0, 0);
        cursor: pointer;
    }
  }
}
