.appointments {
  &__leftContainer {
    display: inline;
    float: left;
    width: 45vw;
    border: lightgray solid 1px;
    height: 75vh;
    overflow-y: scroll;
    margin-top: 2vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0px;
    @media screen and (max-width: 650px) {
        display: relative;
        width: 82vw;
        margin-left:5vw;
        }
  }
  &__header {
    font-size: 50px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  &__footer {
    position: absolute;
    margin-top: 82vh;
    margin-left: 73vw;
    padding-bottom: 30px;
    color: rgb(201, 3, 3);
    font-family: monospace;
    @media screen and (max-width: 650px) {
        margin-top:3vh;
        margin-left:27vw
        }

  }
  &__loading{
    margin-left: 45%;
    margin-top: 10%;
  }

  // .ListGroup.Item{

  // }
}

