.appointments {

  &__leftContainer {
  display: inline;
    float: left;
    width: 45vw;
    border: lightgray solid 1px;
    height: 75vh;
    overflow-y: scroll;
    margin-top: 2vh;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 0px;
  }
  &__header{
font-size: 50px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  &__footer{
      position:absolute;
      margin-top: 82vh;
      margin-left: 73vw;
      margin-bottom: 40px;
      color: rgb(155, 5, 5);
  }

  

  // .ListGroup.Item{

  // }
}
.appointments__rightContainer{
    width: 47vw;
    border: lightgray solid 2px;
    height: 75vh;
    margin-top: 2vh;
    background-color: limegreen;
    // margin-left: 50vw;
}
